@model IEnumerable<AppMVC.Models.Reservation>

@{
    ViewBag.Title = "PrintReservations";
}

<h2>Мои резервации</h2>

<table class="table">
    <tr>
        <th>
            Проекција
        </th>
        <th>
            Број на карти
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReservationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfTickets)
        </td>
        
        
    </tr>
}

</table>
