@{
    ViewBag.Title = "Контакт";
}
<h2>@ViewBag.Title</h2>



<address>
    

    <strong>Емаил:</strong>   <a href="mailto:gabriela.gorgievska@students.finki.ukim.mk">gabriela.gorgievska@students.finki.ukim.mk</a><br />
    
</address>